body {
  background-color: #EAF0F4;
}

.navbar {
  background-color: #67BBE7;
}

.background {
  background-color: #426CC9;
}
.nav-button {
  font-size: 45px;
  color: #EAF0F4;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

.date {
  color: #EAF0F4;
  font-family: 'Kameron', serif;
}

.birthday {
  font-family: 'Kameron', serif;
  font-size: 30px;
}

.birthday1 {
  background-color: #67BBE7;
  padding: 10px;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 #426CC9, 0 6px 20px 0 #426CC9;
}

.img1 {
  width: 600px;
  height: auto;
}