body {
  background-color: #EAF0F4;
}

.navbar {
  background-color: #67BBE7;
}

.background {
  margin-top: 50px;
  background-color: #426CC9;
  border: 2px solid #000000;
  padding: 10px;
}

.nav-button {
  font-size: 45px;
  color: #EAF0F4;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}

.date {
  color: #EAF0F4;
  font-family: 'Kameron', serif;
  
}

h5 {
  color: white;
  font-family: 'Kameron', serif;
}

.birthday {
  font-family: 'Kameron', serif;
}

.birthday1 {
  background-color: #EAF0F4;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 #426CC9, 0 6px 20px 0 #426CC9;
  border: 2px solid #000000;

}

.img1 { 
  width: auto;
  border: 2px solid #000000;
  border-radius: 1%;
}

hr {
  border: 3px solid #426CC9;
}

.custombutton {
  min-width: 130px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #000000;
  background: #426CC9;
  font-size: 20px;
}
.custombutton:hover {
  background: #fff;
  color: #426CC9;
  border: 2px solid #426CC9;
}